#Card {
    height: 390px;
    width: 320px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #e7e5e5;
    padding: 15px;
    gap: 5px;
}

#ImageBase {
    height: 280px;
    width: 290px;
    display: flex;
    justify-content: center;
    background-color: #adadad;
    position: relative;
}

#ImageBase img {
    height: 100%;
    width: 100%;
}

#Drop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(#8b8b93a5, #1d1d20a5);
    opacity: 0;
    position: absolute;
    padding: 1rem;
    transition: opacity 0.3s ease;
}

#Drop button {
    height: 20%;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ababab4d;
    background-color: #ababab1a;
    padding: 10px;
    transition: all 0.5s;
}

#Drop button:hover {
    border: 1px solid #aaaaaa1a;
    background: #aaaaaa4d;
    color: #f1f1f9;
}

#Drop-active:hover+#Drop,
#Drop:hover {
    opacity: 1;
}