/* reset, scroll, fontes, variáveis de cor */
:root {
    /* Tipografia */
    --font-primary: 'Oak Sans', sans-serif;

    /* Cores gerais */
    --color-bg: #e7e5e5;
    --color-text: #303033;

    /* Cores da barra de rolagem */
    --color-scrollbar-bg: #343434;
    --color-scrollbar-thumb: #a4a4a4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: var(--color-scrollbar-bg);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 10px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
}

hr {
    width: 60%;
    border: none;
    border-top: 1px solid #545454;
}