:root {
    /* Tipografia */
    --font-primary: 'Oak Sans', sans-serif;

    /* Cores de texto*/
    --color-text: #303033;

    /* Cores de fundo */
    --color-bg-default: #e7e5e5;
    --color-bg-navbar: #2e2e2e;

    /* UI - Scrollbar */
    --color-scrollbar-bg: #343434;
    --color-scrollbar-thumb: #a4a4a4;

    /* UI - BallonText */
    --color-balloon-bg: #3D3D3D;
    --color-balloon-hover-bg: #5a5a5a;
    --color-balloon-text: #b2b1b1;

    /* Cores gerais */
    --color-border: #545454;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: var(--color-scrollbar-bg);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 10px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-bg-default);
    color: var(--color-text);
}

hr {
    width: 60%;
    border: none;
    border-top: 1px solid var(--color-border);
}