@layer Navbar {
    .Lista {
        @apply flex justify-between list-none text-[#ffffff] gap-[1.5rem];
    }

    .ItemLista {
        @apply flex items-center hover:text-[#497EBC] transition-colors duration-300;
    }

    .LinkItem {
        @apply relative no-underline text-[1.30rem] font-[400];

        &:before {
            @apply content-[""] absolute bottom-[-20px] w-full h-[5px] bg-[#497EBC] opacity-0 transition-all rounded-t-[8px] duration-300;
        }

    }

    .LinkItem:hover::before {
        @apply opacity-100 bottom-[-3px];
    }

}

/* Animação do hamburger SVG */
.Hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition:
        stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.LineTopBottom {
    stroke-dasharray: 12 63;
}

.Hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.Hamburger input:checked+svg .LineTopBottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

@media screen and (max-width: 950px) {
    .nav {
        @apply px-[16px] py-[6px];
    }

    .show {
        @apply hidden;
    }

    .MobileMenuIcon {
        @apply flex fixed top-[4px] right-[1.3rem];
    }

    .MobileMenu {
        @apply w-[250px] h-[400px] justify-around items-center flex-col rounded-b-[15px] bg-[#3f4042] shadow-[10px_10px_15px_#464646] p-[5px] fixed top-[85px] right-[5px];

        &::before {
            @apply content-[''] absolute -top-[10px] right-[15px] w-[0px] h-[0px] border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-b-[10px] border-b-[#3f4042] border-solid;
        }
    }

    .mobile-menu .nav-item {
        @apply pt-[1.1rem];
    }
}