@layer Navbar {
    .Lista {
        @apply flex justify-center list-none;
    }

    .ItemLista { 
        @apply flex mx-4 items-center;
    }

    .LinkItem { 
        @apply relative text-white no-underline text-[1.30rem] font-[400];
    
        &:before { 
            @apply absolute bottom-[-20px] left-0 w-full h-[5px] bg-[#497EBC] rounded-tl-lg rounded-tr-lg opacity-0 transition-all duration-300;
            }
        &:hover:before { @apply opacity-1 b-[-7px];
}
    }


}


.MobileMenuIcon {
    display: none;
}

/* hamburger */

.Hamburger {
    cursor: pointer;
}

.Hamburger input {
    display: none;
}

.Hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.LineTopBottom {
    stroke-dasharray: 12 63;
}

.Hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.Hamburger input:checked+svg .LineTopBottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

@media screen and (max-width: 950px) {
    .nav {
        padding: 1.5rem 4rem;
    }

    .show {
        display: none;
        
    }

    .MobileMenuIcon {
        display: flex;
        position: fixed;
        top: 1rem;
        right: 1.3rem;
    }

    .MobileMenu {
        width: 250px;
        height: 400px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-radius: 0 0 15px 15px;
        background-color: #2e2e2e9d;
        box-shadow: 3px 11px 11px#464646;
        padding: 20px;
        position: fixed;
        top: 75px;
        right: 0;
    }
    
    .mobile-menu .nav-item {
        padding-top: 1.1rem;
    }
}