@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@import url('https://fonts.cdnfonts.com/css/oak-sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Oak Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: #2e2e2e;
  background-color: #e7e5e5;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: #343434;
}

html::-webkit-scrollbar-thumb {
  background-color: #858586;
  border-radius: 10px;

}

h1,
h2,
h3,
h4,
h5 {
    font-size: 39px;
    font-weight: 400px;
    line-height: 1.1;
    cursor: context-menu;
}

h3 {
    font-weight: 100;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    color: #52525b;
    cursor: context-menu;
}

em {
    font-weight: 500;
}

hr {
    border: 1px solid #545454;
    width: 60%;
}


/* Responsive */

@media only screen and (max-width: 789px) {

    h1,
    h2,
    h3,
    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 35px;
    }

    p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 23px;
        font-weight: 300px;
    }

    p {
        font-size: 18px;
    }
}