@keyframes Form1 {
    0% {
        left: 200px;
        top: 0px;
    }

    50% {
        left: 100px;
        top: 0px;
    }

    100% {
        left: 200px;
        top: 0px;
    }
}

@keyframes Form2 {
    0% {
        left: 90px;
        top: 5px;
    }

    50% {
        left: 150px;
        top: 5px;
    }

    100% {
        left: 90px;
        top: 5px;
    }
}

@keyframes Form3 {
    0% {
        left: -100px;
        top: 10px;
    }

    50% {
        left: 50px;
        top: 10px;
    }

    100% {
        left: -100px;
        top: 10px;
    }
}